<section class="gallery">
    <% gallery.forEach((image, index) => { %>
      <figure>
        <picture>
          <source srcset="<%= cale_galerie %>/<%= image.cale_relativa %>" media="(min-width: 800px)">
          <img src="<%= cale_galerie %>/<%= image.cale_relativa %>" alt="<%= image.alt || image.nume %>" title="<%= image.descriere %>">
        </picture>
        <figcaption><%= String.fromCharCode(65 + index) %>. <%= image.descriere %></figcaption>
        <% if (image.attribution) { %>
          <small>Image by <a href="<%= image.attribution.source %>"><%= image.attribution.author %></a>, licensed under <%= image.attribution.license %></small>
        <% } %>
      </figure>
    <% }) %>
  </section>
  