<%- include('../fragmente/head.ejs') %>
<body>
    <h1><%= Eroare imagine %></h1>
    <p><%= Ne pare rau %></p>
    <img src="<%= imagine %>" alt="Error Image">
    <%- include('../fragmente/footer.ejs') %>
</body>
</html>
